@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto/Roboto-Regular.ttf");
}
$color_menu: rgba($white, 0.6);
$break-small: 320px;
$break-medium: 678px;
$break-large: 992px;
$color_green: rgba(54, 78, 104, 1);

@mixin transition($para) {
  transition: $para;
  -moz-transition: $para;
  -webkit-transition: $para;
  -ms-transition: $para;
}
@mixin tranform($para) {
  transform: $para;
  -moz-transform: $para;
  -webkit-transform: $para;
  -ms-transform: $para;
}
.b-page-header {
  position: absolute;
  width: 100%;
  padding: 30px 0;
  background: transparent;
  @include transition(all 0.3s ease-in-out);
  .is-mobile {
    position: absolute;
    right: 10px;
    top: 20px;
    .btn-mobile {
      visibility: hidden;
      opacity: 0;
      border: none;
      background-color: rgba(124, 189, 30, 1);
      color: $white;
    }
    @media screen and (max-width: $break-large) {
      .btn-mobile {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &.sticky {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    background: $color_green;
    z-index: 9999;
  }
  .b-link-logo {
    color: $white;
    text-decoration: none;
    .b-logo {
      font-family: "roboto";
      font-size: 36px;
      font-weight: 200;
      background: transparent;
    }
    .is-current {
      color: $red;
    }
  }
  .b-page-nav {
    text-align: right;
    margin-top: 10px;
    .b-item {
      display: inline;
      padding: 10px 5px;
      background: transparent;
      .b-link {
        color: $color_menu;
        padding: 10px 10px;
        letter-spacing: 0.05em;
        &.is-active {
          color: $white;
        }
      }
    }
    .b-hash-menu {
      position: relative;
      > .b-link {
        position: relative;
        padding-right: 20px;
        &::before {
          position: absolute;
          font-family: "Font Awesome 5 Free";
          content: "\f107";
          right: 0%;
          top: 30%;
          font-weight: 900;
          font-size: 16px;
          color: $color_menu;
        }
      }
      > .b-dropdown {
        &::after {
          position: absolute;
          top: 0px;
          left: 40px;
          font-family: "Font Awesome 5 Free";
          content: "\f0d8";
          top: 30%;
          font-weight: 900;
          font-size: 36px;
          color: $white;
          @include tranform(translate(0, -60px));
        }
      }
      .b-dropdown {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 100%;
        position: absolute;
        text-align: left;
        box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
        border-left: 1px solid $color_menu;
        border-right: 1px solid $color_menu;
        border-bottom: 1px solid $color_menu;
        padding: 10px 0;
        margin-top: 30px;
        margin-left: 0px;
        background: $white;
        @include transition(all 0.6s ease-in-out);
        .b-item {
          display: inline-block;
          min-width: 150px;
          .b-link {
            color: $primary;
            font-family: "roboto";
          }
        }
        .b-hash-children {
          position: relative;
          > .b-link {
            &::before {
              position: absolute;
              font-family: "Font Awesome 5 Free";
              content: "\f061";
              right: 10px;
              top: 20%;
              font-weight: 900;
              font-size: 16px;
              color: $primary;
            }
          }
          .b-dropdown {
            position: absolute;
            left: 100%;
            top: 0;
            visibility: hidden;
            opacity: 0;
            margin-left: -30px;
            @include transition(all 0.5s ease-in-out);
            .b-hash-grandchildren {
              position: relative;
              > .b-link {
                &::before {
                  position: absolute;
                  font-family: "Font Awesome 5 Free";
                  content: "\f061";
                  right: 10px;
                  top: 20%;
                  font-weight: 900;
                  font-size: 16px;
                  color: $primary;
                }
              }
              .b-dropdown {
                position: absolute;
                left: 100%;
                top: 0;
                visibility: hidden;
                opacity: 0;
                margin-left: -30px;
                @include transition(all 0.5s ease-in-out);
              }
              &:hover {
                .b-dropdown {
                  visibility: visible;
                  opacity: 1;
                  margin-left: 0;
                }
              }
            }
          }
          &:hover {
            .b-dropdown {
              visibility: visible;
              opacity: 1;
              margin-left: 0;
            }
          }
        }
      }
      &:hover {
        .b-dropdown {
          visibility: visible;
          opacity: 1;
          margin-top: 0;
        }
      }
    }
    @media screen and (max-width: $break-large) {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      background-color: $white;
      width: 340px;
      top: -350px;
      right: -50px;
      z-index: 99999;
      box-shadow: 0 0 10px -2px $color_green;
      border-radius: 4px;
      height: 400px;
      overflow: scroll;
      @include transition(all 0.3s ease-in-out);
      .b-item {
        display: block;
        text-align: left;
        .b-link {
          color: $color_green;
        }
      }
      .b-hash-menu {
        position: relative;
        > .b-link {
          position: relative;
          padding-right: 20px;
          &::before {
            position: absolute;
            font-family: "Font Awesome 5 Free";
            content: "\f107";
            right: 0%;
            top: 30%;
            font-weight: 900;
            font-size: 16px;
            color: $red;
          }
        }
        .b-dropdown {
          visibility: visible;
          opacity: 1;
          position: relative;
          left: 0;
          top: 100%;
          text-align: right;
          box-shadow: none;
          border: none;
          padding: 10px 0;
          margin-top: 0px;
          margin-left: 0px;
          background-color: transparent;
          @include transition(all 0.6s ease-in-out);
          .b-item {
            display: flex;
            min-width: 150px;
            margin-left: 10px;
            .b-link {
              color: $primary;
              font-family: "roboto";
              margin-left: 0px;
            }
          }
          .b-hash-children {
            position: relative;
            > .b-link {
              &::before {
                position: absolute;
                font-family: "Font Awesome 5 Free";
                content: "\f107";
                left: 30%;
                top: 20px;
                font-weight: 900;
                font-size: 16px;
                color: $red;
              }
            }
            .b-dropdown {
              position: relative;
              left: 0%;
              top: 0;
              visibility: visible;
              opacity: 1;
              margin-left: 0px;
              @include transition(all 0.5s ease-in-out);
              .b-hash-grandchildren {
                position: relative;
                > .b-link {
                  &::before {
                    position: absolute;
                    font-family: "Font Awesome 5 Free";
                    content: "\f107";
                    left: 30%;
                    top: 20px;
                    font-weight: 900;
                    font-size: 16px;
                    color: $red;
                  }
                }
                .b-dropdown {
                  position: relative;
                  left: 0%;
                  top: 0;
                  visibility: visible;
                  opacity: 1;
                  margin-left: 0px;
                  @include transition(all 0.5s ease-in-out);
                }
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: $break-large) {
      &.responsive {
        visibility: visible;
        opacity: 1;
        top: -20px;
      }
    }
  }
}
